<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      User Logs
    </p>
  </header>
  <div class="card-content">
    <table class="table is-bordered">
  <thead>
    <tr>
      <th>User</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_logs.each do |user_log| %>
      <tr>
        <td><%= user_log.user %></td>
        <td><%= user_log.url %></td>
        <td><%= link_to 'Show', user_log %></td>
        <td><%= link_to 'Edit', edit_user_log_path(user_log) %></td>
        <td><%= link_to 'Destroy', user_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Log', new_user_log_path %>

  </div>
</div>


