<p id="notice"><%= notice %></p>

<%= image_tag(@article.thumbnail.url || 'splash.jpg')%>

<article class="message is-info">
  <div class="message-header">
    <p class="montserrat"><%= @article.title %>
<span class="tag is-warning"><%= @article.category.name %></span>
</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    <%= @article.content %>
  </div>
</article>



<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
