<%= image_tag(@article.thumbnail.url || 'splash.jpg')%>

<article class="message is-info">
  <div class="message-header">
    <p class="montserrat"><%= @article.title %>
<span class="tag is-warning"><%= @article.category.name %></span>
</p>
    <%= link_to edit_article_path(@article) do%>
	<i class="fas fa-plus"></i>
	<%end%>
  </div>
  <div class="message-body">
    <%= @article.content %>
  </div>
</article>



<%= link_to 'Back', articles_path %>
