<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Email Subscriptions
    </p>
  </header>
  <div class="card-content">
    <table class="table is-bordered">
  <thead>
    <tr>
      <th>Email address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @email_subscriptions.each do |email_subscription| %>
      <tr>
        <td><%= email_subscription.email_address %></td>
        <td><%= link_to 'Show', email_subscription %></td>
        <td><%= link_to 'Edit', edit_email_subscription_path(email_subscription) %></td>
        <td><%= link_to 'Destroy', email_subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email Subscription', new_email_subscription_path %>

  </div>
</div>
