<p id="notice"><%= notice %></p>

<h1>Obituaries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Death date</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @obituaries.each do |obituary| %>
      <tr>
        <td><%= obituary.name %></td>
        <td><%= obituary.death_date %></td>
        <td><%= obituary.content %></td>
        <td><%= link_to 'Show', obituary %></td>
        <td><%= link_to 'Edit', edit_obituary_path(obituary) %></td>
        <td><%= link_to 'Destroy', obituary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Obituary', new_obituary_path %>
