<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Image Posts
    </p>
  </header>
  <div class="card-content">
    <table class="table is-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @image_posts.each do |image_post| %>
      <tr>
        <td><%= image_post.title %></td>
        <td><%= image_post.description %></td>
        <td><%= image_post.image_url %></td>
        <td><%= link_to 'Show', image_post %></td>
        <td><%= link_to 'Edit', edit_image_post_path(image_post) %></td>
        <td><%= link_to 'Destroy', image_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image Post', new_image_post_path %>

  </div>
</div>