<%= form_with(model: unpublished_image_post, local: true) do |form| %>
  <% if unpublished_image_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unpublished_image_post.errors.count, "error") %> prohibited this unpublished_image_post from being saved:</h2>

      <ul>
      <% unpublished_image_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :thumbnail_url %>
    <%= form.text_field :thumbnail_url %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_field :comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
