<nav class="navbar is-info is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
  <div class="navbar-brand is-clearfixed">
	  <%= link_to root_path, :class => 'navbar-item' do%>
	  <i class="far fa-newspaper newspaper-yellow"></i> <span>NEWS</span>
	  <% end %>
  </div>
  <a role="button" class="navbar-burger is-clearfixed" aria-label="menu" aria-expanded="false"  data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
  <div class="navbar-menu">
  <div class="navbar-start" id="navMenu" >
  
		
  	  <%= link_to welcome_weather_path, :class => 'navbar-item' do%>
  	  <i class="fas fa-bolt"></i>
  	  <% end %>
    	  <%= link_to welcome_map_path, :class => 'navbar-item' do%>
    	  <i class="fas fa-map-marker-alt"></i>
    	  <% end %>
    
    <%= link_to welcome_search_path, :class => 'navbar-item' do%>
        <i class="fas fa-search"></i>
        <% end %>
      
	  </div>
  <div class="navbar-end" id="navbarEnd">
        <a class="navbar-item">
          <%= link_to "News", root_path, :class => 'navbar-item' %>
        </a>
      
      <a class="navbar-item">
        Puzzles
      </a>
	 <div class="buttons" style="padding:0 5px;">
    <%= link_to welcome_subscribe_path, :class => 'button is-primary is-inverted is-outlined' do%>
<strong>Subscribe</strong>
    <% end %>
	         
		   </div>
	  </div>
	  </div>
      </div>
</nav>